*{
	font-family: sans-serif;
	text-decoration: none;
}
	body{
		background: white;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0px;
		margin: 0;
	}
	header{
		padding: 20px;
		margin:10px auto 7px;
/*		width: 100%;*/
		background: rgba(255,255,255,0.8);
	}
	header img{
		margin: auto;
		display: block;
		/*width: 100%;*/
}
.container {
	max-width: 1000px;
	margin:auto;
}
.content {
	margin: auto;
	max-width: 1000px;
	margin-bottom: 40px;
	background: url("Цветы.jpg");
	background-size: 1000px;
	background-repeat: no-repeat;
	background-position: center;
}
 .content h3{
 	text-shadow: 0px 0px 30px rgba(0,0,0,0.7);
 	font-family: sans-serif;
 	color: #e0e0e0;
 	margin-bottom: 300px;
    line-height:60px;
    font-size: 40px;
  }
  h4{
  	margin-bottom: 5px;
  	color: white;
  	font-size: 30px;
  	text-shadow: 0px 0px 30px rgba(0,0,0,0.7);
  }
  h5{
  	margin-top: 20px;
  	text-shadow: 0px 0px 30px rgba(0,0,0,0.7);
  	color: white;
  	text-align: center;
  	font-size: 26px;
  	margin-bottom: 10px;
  }
  ul{
  	font-size: 20px;
  }
  .content a{
  	scroll-behavior: smooth;
  	display: inline-block;
  	margin: 20px;
  	padding: 0 10px;
  	border-radius: 5px;
  	border: 1px solid white;
  	font-weight: 900;
  	color: #f1eee7;
  	text-shadow: 0px 0px 30px rgba(0,0,0,0.7);
  	font-size: 35px;
  }
  /*.container h3{*/
  	/*font-size: 40px;*/
  /*}*/
  #contacts ul{
  	width: 30%;
  	display: inline-block;
  	list-style: none;
  }
  #contacts img{
  	height: 286px;
  	object-fit: cover;
  	float: left;
  	width: 30%;
  	display: inline-block;
  }
  #contacts section{
  	text-align: center;
  	box-sizing: border-box;
  	padding: 5px;
  	float: right;
  	width: 70%;
  }
  #contacts h3{
  	font-size: 20px;
  }
    #contacts section div{
	    width: 32%;
	    display: inline-block;
    }
   #contacts a{
    	color: black;
    	background: #e0e0e0;
    	border-radius: 20px;
    }
    #contacts{
      margin-top: 200px;
      margin-bottom: 10px;
    }
